:root{
    font-size: 16px;
}
.card{
    width:14rem;
    margin: 10%;
    min-height: 150px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding:40px 0px;
}
.card-title{
    font-family: sans-serif;
    font-size: 1.5rem;
}
.characters{
    background-color: #5196F4;
}
.books{
    background-color: #F65D63;
}
.houses{
    background-color: #80F874;
}
.aligntop{
    margin-top: 20px;
}
.box{
    
    text-align: center;
}
.red{
	color:#F65D63;
}
.green{
	color:#80F874;
}
.blue{
	color:#5196F4;
}
@media only screen and (min-width:485px) and (max-width:768px){
    .card{
        width: 13rem;
    }
}
@media only screen and (max-width:260px){
    .card{
       width: 11rem;
    }
}